In [98]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [99]:
from sklearn.datasets import load_wine
X,Y = load_wine(return_X_y=True)

# from sklearn.datasets import load_breast_cancer
# X,Y = load_breast_cancer(return_X_y=True)

In [100]:
print(X.shape)
print(Y.shape)

(178, 13)
(178,)

In [101]:
pd.DataFrame(X)

        0     1     2     3      4   ...    8      9     10    11      12
0    14.23  1.71  2.43  15.6  127.0  ...  2.29   5.64  1.04  3.92  1065.0
1    13.20  1.78  2.14  11.2  100.0  ...  1.28   4.38  1.05  3.40  1050.0
2    13.16  2.36  2.67  18.6  101.0  ...  2.81   5.68  1.03  3.17  1185.0
3    14.37  1.95  2.50  16.8  113.0  ...  2.18   7.80  0.86  3.45  1480.0
4    13.24  2.59  2.87  21.0  118.0  ...  1.82   4.32  1.04  2.93   735.0
..     ...   ...   ...   ...    ...  ...   ...    ...   ...   ...     ...
173  13.71  5.65  2.45  20.5   95.0  ...  1.06   7.70  0.64  1.74   740.0
174  13.40  3.91  2.48  23.0  102.0  ...  1.41   7.30  0.70  1.56   750.0
175  13.27  4.28  2.26  20.0  120.0  ...  1.35  10.20  0.59  1.56   835.0
176  13.17  2.59  2.37  20.0  120.0  ...  1.46   9.30  0.60  1.62   840.0
177  14.13  4.10  2.74  24.5   96.0  ...  1.35   9.20  0.61  1.60   560.0

[178 rows x 13 columns]

In [102]:
Y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [103]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=5)
x=X_train
y=Y_train
print(x.shape)
print(y.shape)

(142, 13)
(142,)

In [104]:
def NaiveBayes(x,y):

  classes = np.unique(y)
  mean = np.zeros((len(classes),x.shape[1]))
  variance = np.zeros((len(classes),x.shape[1]))
  prior_probabilities = np.zeros(len(classes))

  for c in classes:
    data_wrt_class = x[c == y]
    mean[c,:] = data_wrt_class.mean(axis=0)
    variance[c,:] = data_wrt_class.var(axis=0)
    prior_probabilities[c] = len(data_wrt_class) / len(x)

  return mean,variance,prior_probabilities,classes


def gaussian_distribution(x_sample,mean,variance,class_num):

  m = mean[class_num]
  v = variance[class_num]

  numerator = np.exp(-((x_sample - m)**2) / (2*v))
  denominator = np.sqrt(2 *np.pi *v)

  gaussian = numerator / denominator

  return gaussian



def predict(x,prior_probabilities,mean,variance,classes):

  predictions = []
  
  for x_sample in x:

    posterior_probablities = []

    for c in classes: 
      prior =  np.log(prior_probabilities[c])
      likelihood = np.sum(np.log(gaussian_distribution(x_sample,mean,variance,c)))
      
      posterior = prior + likelihood

      posterior_probablities.append(posterior)

    class_number = classes[np.argmax(posterior_probablities)]

    predictions.append(class_number)

  return predictions


mean,variance,prior_probabilities,classes = NaiveBayes(x,y)
y_pred = predict(x,prior_probabilities,mean,variance,classes)

In [105]:
c_sum=0
inc_sum=0
for i in range(len(y_pred)):
  if y_pred[i]==y[i]:
    c_sum+=1
  else:
    inc_sum+=1
print(c_sum)
print(inc_sum)

141
1

In [106]:
def training_accuracy(y, y_pred):
    train_accuracy = np.sum(y == y_pred) / len(y)
    return train_accuracy

In [107]:
training_accuracy(y,y_pred)

0.9929577464788732

# Testing Phase

In [108]:
y_pred_test = predict(X_test,prior_probabilities,mean,variance,classes)

In [109]:
def testing_accuracy(y_test, y_pred_test):
    test_accuracy = np.sum(y_test == y_pred_test) / len(y_test)
    return test_accuracy

In [110]:
testing_accuracy(Y_test,y_pred_test)

0.9166666666666666